# packages in environment at /Users/maximmorozov/miniforge3/envs/quant-agent-venv:
#
# Name                    Version                   Build  Channel
arcticdb                  6.1.1           py313h9cbd8e2_0    conda-forge
attrs                     25.3.0             pyh71513ae_0    conda-forge
aws-c-auth                0.9.0               h9eee66f_19    conda-forge
aws-c-cal                 0.9.2                hd08b81e_1    conda-forge
aws-c-common              0.12.4               h6caf38d_0    conda-forge
aws-c-compression         0.3.1                habbe1e8_6    conda-forge
aws-c-event-stream        0.5.5                hd1b68e1_3    conda-forge
aws-c-http                0.10.4               h09a8a51_0    conda-forge
aws-c-io                  0.21.2               hc6344be_1    conda-forge
aws-c-mqtt                0.13.3               h625c29d_3    conda-forge
aws-c-s3                  0.8.6                h6ded10d_2    conda-forge
aws-c-sdkutils            0.2.4                habbe1e8_1    conda-forge
aws-checksums             0.2.7                habbe1e8_2    conda-forge
aws-crt-cpp               0.33.1               h54a40e1_2    conda-forge
aws-sdk-cpp               1.11.606             ha924a42_1    conda-forge
azure-core-cpp            1.16.0               ha1c5762_0    conda-forge
azure-identity-cpp        1.12.0               hd83eed2_0    conda-forge
azure-storage-blobs-cpp   12.14.0              he094cc7_1    conda-forge
azure-storage-common-cpp  12.10.0              h12fd690_2    conda-forge
bzip2                     1.0.8                h99b78c6_7    conda-forge
c-ares                    1.34.5               h5505292_0    conda-forge
ca-certificates           2025.8.3             hbd8a1cb_0    conda-forge
colorama                  0.4.6              pyhd8ed1ab_1    conda-forge
cyrus-sasl                2.1.28               ha1cbb27_0    conda-forge
decorator                 5.2.1              pyhd8ed1ab_0    conda-forge
double-conversion         3.3.1                h286801f_0    conda-forge
fmt                       11.2.0               h440487c_0    conda-forge
folly                     2025.04.14.00   h087e3e4_5_jemalloc    conda-forge
gflags                    2.2.2             hf9b8971_1005    conda-forge
glog                      0.7.1                heb240a5_0    conda-forge
gtest                     1.17.0               ha393de7_1    conda-forge
howardhinnant_date        3.0.4                ha393de7_0    conda-forge
icu                       75.1                 hfee45f7_0    conda-forge
jemalloc-local            5.3.0                hf9b8971_1    conda-forge
krb5                      1.21.3               h237132a_0    conda-forge
libabseil                 20250512.1      cxx17_hd41c47c_0    conda-forge
libblas                   3.9.0           34_h10e41b3_openblas    conda-forge
libboost                  1.88.0               hf493ff8_2    conda-forge
libboost-headers          1.89.0               hce30654_1    conda-forge
libbson                   1.23.2               hb7217d7_0    conda-forge
libcblas                  3.9.0           34_hb3479ef_openblas    conda-forge
libcurl                   8.14.1               h73640d1_0    conda-forge
libcxx                    20.1.8               hf598326_1    conda-forge
libedit                   3.1.20250104    pl5321hafb1f1b_0    conda-forge
libev                     4.33                 h93a5062_2    conda-forge
libevent                  2.1.12               h2757513_1    conda-forge
libexpat                  2.7.1                hec049ff_0    conda-forge
libffi                    3.4.6                h1da3d7d_1    conda-forge
libgfortran               15.1.0               hfdf1602_1    conda-forge
libgfortran5              15.1.0               hb74de2c_1    conda-forge
libiconv                  1.18                 h23cfdf5_2    conda-forge
libjemalloc-local         5.3.0                hf9b8971_1    conda-forge
liblapack                 3.9.0           34_hc9a63f6_openblas    conda-forge
liblzma                   5.8.1                h39f12f2_2    conda-forge
libmongoc                 1.23.2               hea8a818_2    conda-forge
libmongocxx               3.7.2                h13dd4ca_1    conda-forge
libmpdec                  4.0.0                h5505292_0    conda-forge
libnghttp2                1.64.0               h6d7220d_0    conda-forge
libntlm                   1.8                  h5505292_0    conda-forge
libopenblas               0.3.30          openmp_h60d53f8_2    conda-forge
libprotobuf               6.31.1               h702a38d_1    conda-forge
libsodium                 1.0.20               h99b78c6_0    conda-forge
libsqlite                 3.50.4               h4237e3c_0    conda-forge
libssh2                   1.11.1               h1590b86_0    conda-forge
libxml2                   2.13.8               h4a9ca0c_1    conda-forge
libzlib                   1.3.1                h8359307_2    conda-forge
llvm-openmp               20.1.8               hbb9b287_2    conda-forge
lmdb                      0.9.22            h93a5062_1001    conda-forge
lz4-c                     1.10.0               h286801f_1    conda-forge
msgpack-c                 6.1.0                h13dfb9a_2    conda-forge
msgpack-python            1.1.1           py313h0ebd0e5_0    conda-forge
ncurses                   6.5                  h5e97a16_3    conda-forge
numpy                     2.3.2           py313h674b998_2    conda-forge
openssl                   3.5.2                he92f556_0    conda-forge
packaging                 25.0               pyh29332c3_1    conda-forge
pandas                    2.3.2           py313hd1f53c0_0    conda-forge
pcre2                     10.45                ha881caa_0    conda-forge
pip                       25.2               pyh145f28c_0    conda-forge
prometheus-cpp            1.3.0                h0967b3e_0    conda-forge
protobuf                  6.31.1          py313hbf189c8_0    conda-forge
psutil                    7.0.0           py313hcdf3177_1    conda-forge
python                    3.13.5          hf3f3da0_102_cp313    conda-forge
python-dateutil           2.9.0.post0        pyhe01879c_2    conda-forge
python-tzdata             2025.2             pyhd8ed1ab_0    conda-forge
python_abi                3.13                    8_cp313    conda-forge
pytz                      2025.2             pyhd8ed1ab_0    conda-forge
pyyaml                    6.0.2           py313ha9b7d5b_2    conda-forge
readline                  8.2                  h1d1bf99_2    conda-forge
six                       1.17.0             pyhe01879c_1    conda-forge
snappy                    1.2.2                hd121638_0    conda-forge
sparrow                   1.0.0                h1821781_0    conda-forge
spdlog                    1.15.3               h217a1f9_1    conda-forge
tk                        8.6.13               h892fb3f_2    conda-forge
tqdm                      4.67.1             pyhd8ed1ab_1    conda-forge
tzdata                    2025b                h78e105d_0    conda-forge
xxhash                    0.8.2                hb547adb_0    conda-forge
yaml                      0.2.5                h925e9cb_3    conda-forge
zlib                      1.3.1                h8359307_2    conda-forge
zstd                      1.5.7                h6491c7d_2    conda-forge
